# WeWork API Configuration
DEBUG=True

# Corp API Configuration
CORP_ID=ww02e722300c225f36
CORP_SECRET=u26-HYYV5zT7AJOARHf4TF3weK7GHFu0FQKi5uiJFV0

# Suite Configuration
SUITE_ID=ww02e722300c225f36
SUITE_TOKEN=hXrvfnLm
SUITE_ENCODING_AES_KEY=1t9U5yw55xEYkxQraH2A4hY1zskV8CoGJJmxelaEUBF

# Flask Configuration
FLASK_PORT=8066